<footer style="text-align: center; color: black; background-color: skyblue">
	    		<ul>
	        		<li><a href="mailto:nilanjanchatterjee7@gmail.com" style="color: black">
					<img src="nilanjanchatterjee.github.io/e-mail.png" width="60" height="60" title="e-mail"></a></li>
	        		<li><a href="https://github.com/nilanjanchatterjee" style="color: black">
					<img src="nilanjanchatterjee.github.io/github.png" width="60" height="60" title="github"></a></li>
				<li><a href="https://twitter.com/footloose_nil" style="color: black">
					<img src="nilanjanchatterjee.github.io/twit.png" width="60" height="60" title="twitter"></a></li>
				<li><a href="https://www.instagram.com/nilanjan_footloose/" style="color: black"><img src="nilanjanchatterjee.github.io/insta.jpg" width="60" height="60" title="instagram"></a></li>
				</ul>
			</footer>
