<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
                                <li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="color: black; background-color: darkblue">
	    		<ul>
	        		<li><a href="mailto:nilanjanchatterjee7@gmail.com" style="color: black">
					<img src="nilanjanchatterjee.github.io/e-mail.png" width="80" height="80" title="e-mail"></a></li>
	        		<li><a href="https://github.com/nilanjanchatterjee" style="color: black">
					<img src="nilanjanchatterjee.github.io/github.png" width="80" height="80" title="github"></a></li>
				<li><a href="https://twitter.com/footloose_nil" style="color: black">
					<img src="nilanjanchatterjee.github.io/twit.png" width="80" height="80" title="twitter"></a></li>
				<li><a href="https://www.instagram.com/nilanjan_footloose/" style="color: black"><img src="nilanjanchatterjee.github.io/insta.jpg" width="80" height="80" title="instagram"></a></li>
				</ul>
			</footer>
		</body>
	</html>
